In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [4]:
ufo.columns

Index([u'City', u'Colors Reported', u'Shape Reported', u'State', u'Time'], dtype='object')

In [9]:
# 읽어올 때부터 특정 컬럼만 사용하고 싶다면?
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=['City', 'Time'])

In [11]:
ufo.columns

Index([u'City', u'Time'], dtype='object')

In [14]:
# 특정 로우만 읽어오려면?
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=[0, 1, 2], nrows=3)
ufo

          City  Colors Reported Shape Reported
0       Ithaca              NaN       TRIANGLE
1  Willingboro              NaN          OTHER
2      Holyoke              NaN           OVAL

In [15]:
# 데이터프레임이나 시리즈의 각 아이템을 반복하려면?
for c in ufo.City:
    print c

Ithaca
Willingboro
Holyoke

In [20]:
# iterrows()를 사용하면 편리하다
for index, row in ufo.iterrows():
    print(index, row.City)

(0, 'Ithaca')
(1, 'Willingboro')
(2, 'Holyoke')

In [21]:
# 숫자가 아닌 컬럼을 제거하고 싶다면?
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [23]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [24]:
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [25]:
# describe() 에서 인자로 배열을 넘기거나 스트링을 넘길 떄의 차이점은?
drinks.describe(include='all')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
count,193,193.000000,193.000000,193.000000,193.000000,193
unique,193,NaN,NaN,NaN,NaN,6
top,Lesotho,NaN,NaN,NaN,NaN,Africa
freq,1,NaN,NaN,NaN,NaN,53
mean,NaN,106.160622,80.994819,49.450777,4.717098,NaN
std,NaN,101.143103,88.284312,79.697598,3.773298,NaN
min,NaN,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,20.000000,4.000000,1.000000,1.300000,NaN
50%,NaN,76.000000,56.000000,8.000000,4.200000,NaN
75%,NaN,188.000000,128.000000,59.000000,7.200000,NaN
max,NaN,376.000000,438.000000,370.000000,14.400000,NaN

In [28]:
# dtype으로 필터링하고 싶을 때
drinks.describe(include=['object', 'float64'])

        country  total_litres_of_pure_alcohol continent
count       193                    193.000000       193
unique      193                           NaN         6
top     Lesotho                           NaN    Africa
freq          1                           NaN        53
mean        NaN                      4.717098       NaN
std         NaN                      3.773298       NaN
min         NaN                      0.000000       NaN
25%         NaN                      1.300000       NaN
50%         NaN                      4.200000       NaN
75%         NaN                      7.200000       NaN
max         NaN                     14.400000       NaN

In [30]:
# 문자열 컬럼만 보고 싶다면
drinks.describe(include=['object'])

        country continent
count       193       193
unique      193         6
top     Lesotho    Africa
freq          1        53