In [41]:
import pandas as pd

In [42]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [43]:
ufo.shape

(18241, 5)

In [44]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [45]:
# City 컬럼을 제거해보자
ufo.drop('City', axis=1).head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [46]:
ufo.head()
# 원본은 변경되지 않았다

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [47]:
# inplace 파라미터로 원본을 직접 변경할 수 있다
ufo.drop('City', axis=1, inplace=True)

In [48]:
ufo.head()
# 원본도 변경됐다

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [49]:
# 어떤 결과가 나오는지 테스트해볼 수 있다는 장점 때문에 inplace의 기본값은 False이다
ufo.dropna(how='any').shape

(2490, 4)

In [50]:
ufo.shape

(18241, 4)

In [51]:
ufo.reset_index(inplace=True)
ufo.set_index('Time', inplace=True)
ufo.head()

                 index Colors Reported Shape Reported State
Time
6/1/1930 22:00       0             NaN       TRIANGLE    NY
6/30/1930 20:00      1             NaN          OTHER    NJ
2/15/1931 14:00      2             NaN           OVAL    CO
6/1/1931 13:00       3             NaN           DISK    KS
4/18/1933 19:00      4             NaN          LIGHT    NY

In [52]:
# 이렇게 재할당해도 괜찮다
ufo = ufo.set_index('State')
ufo.head()

# 두 방법에 성능 상 큰 차이가 없다. 원하는 방식대로 하면 된다

       index Colors Reported Shape Reported
State
NY         0             NaN       TRIANGLE
NJ         1             NaN          OTHER
CO         2             NaN           OVAL
KS         3             NaN           DISK
NY         4             NaN          LIGHT

In [53]:
# inplace의 기본값이 False이기 때문에, 부담없이 API의 결과를 확인해볼 수 있다
ufo.fillna(method='bfill').tail()

       index Colors Reported Shape Reported
State
IL     18236             RED       TRIANGLE
IA     18237             RED           DISK
WI     18238             RED          LIGHT
WI     18239             RED          LIGHT
FL     18240             NaN           OVAL

In [54]:
ufo.fillna(method='ffill').tail()

       index Colors Reported Shape Reported
State
IL     18236             RED       TRIANGLE
IA     18237             RED           DISK
WI     18238             RED           DISK
WI     18239             RED          LIGHT
FL     18240             RED           OVAL