In [1]:
import pandas as pd

In [4]:
# dataframe from dictionary
pd.DataFrame({
    'id': [100, 101, 102],
    'color': ['red', 'blue', 'red']
})

  color   id
0   red  100
1  blue  101
2   red  102

In [5]:
# 컬럼 순서를 정하고 싶다면
pd.DataFrame({
    'id': [100, 101, 102],
    'color': ['red', 'blue', 'red']
}, columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [9]:
# 인덱스를 명시하고 싶다면
df = pd.DataFrame({
    'id': [100, 101, 102],
    'color': ['red', 'blue', 'red']
}, columns=['id', 'color'], index=['a', 'b', 'c'])
df

    id color
a  100   red
b  101  blue
c  102   red

In [11]:
# row를 전달하고 싶다면
pd.DataFrame([
    [100, 'red'],
    [101, 'blue'],
    [102, 'red']
], columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [12]:
# 넘파이 배열이 있다면
import numpy as np

In [13]:
arr = np.random.rand(4, 2)
arr

array([[ 0.01525275,  0.46402685],
       [ 0.83990799,  0.81438594],
       [ 0.04464797,  0.28579783],
       [ 0.44483232,  0.26741751]])

In [14]:
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.015253  0.464027
1  0.839908  0.814386
2  0.044648  0.285798
3  0.444832  0.267418

In [17]:
# 10x2의 학생 아이디와 점수 테이블을 만들어보자
pd.DataFrame({
        'student': np.arange(100, 110, 1),
        'test': np.random.randint(60, 101, 10)
    })

   student  test
0      100    77
1      101    88
2      102    69
3      103    92
4      104    94
5      105    66
6      106    63
7      107    76
8      108    80
9      109    98

In [18]:
# 체이닝을 인덱스를 설정할 수 있다
pd.DataFrame({
        'student': np.arange(100, 110, 1),
        'test': np.random.randint(60, 101, 10)
    }).set_index('student')

         test
student
100        94
101        73
102        87
103        98
104        65
105        68
106        83
107        99
108        83
109        99

In [21]:
# 기존 데이터프레임에 시리즈를 추가하려면
s = pd.Series(['round', 'squre'], index=['c', 'b'], name='shape')
s

c    round
b    squre
Name: shape, dtype: object

In [22]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [25]:
pd.concat([df, s], axis=1)

    id color  shape
a  100   red    NaN
b  101  blue  squre
c  102   red  round